@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Poppins', sans-serif;
}
#p-tag{
    font-weight: bold;
    
}

img{
    margin:1%;
}

.container{
    width:95%;
    margin:auto;
}